body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, .title_library {
	/* display: block; */
	/* margin: 0 auto;  */
	text-align: center;
	
}

.btn_newBook, form > button {
	display: block;
	margin: 12px auto; 
	padding: 4px 16px 4px 16px;
}


